link(rel="stylesheet", href="/css/base.css")

#container
    h1 The Bitdiddle Biweekly

    for article in articles
        .article
            h2= article.title

            p.byline
                span.by by Dan Moorehead
                span.date January 21, 2015

            .content(data-bin-id=article.bin_id)

script(src="/js/bitbin.js")

